.jumbotron{
  background-image: <img src="images/jay-wennington-2065.jpg" width="4402" height="2935"/>
  font-family: Helvetica, sans-serif;
  color: white;
}

nav{
  font-family: Helvetica, sans-serif;
  color: white;
}
